[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
ipython = "*"
matplotlib = "*"
scipy = "*"
sklearn = "*"

[dev-packages]

[requires]
python_version = "3"
